@model WebApplication3.Models.Guess

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guess</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuessedCoordinates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuessedCoordinates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrectNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectPositions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrectPositions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GuessId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
