@model IEnumerable<WebApplication3.Models.GameSession>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player1Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetCoordinates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGameOver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttemptsLeft)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetCoordinates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGameOver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttemptsLeft)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameSessionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameSessionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameSessionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
