@model BletchleyBreaker.Web.Models.GameSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player1Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player1Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player2Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player2Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetCoordinates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetCoordinates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPlayerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPlayerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGameOver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGameOver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttemptsLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttemptsLeft)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GameSessionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
